/* DM Sans Font Faces */
@font-face {
  font-family: 'DM Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('DM Sans Regular'), url('DMSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DM Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('DM Sans Medium'), url('DMSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('DM Sans Bold'), url('DMSans-Bold.woff') format('woff');
}
